.to-filter ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    background-color: #E1EDE6;
    border-radius: 50px;
    cursor: pointer;
}
.col-auto{
    margin-top:50px;
}
.to-filter a {
    color: black;
}

.to-filter ul li:hover {
    background-color: #97c0a8;
}

main{
    margin-top:50px;
    margin-bottom: 50px;
}


.frame{
    width: 350px;
    height: 680px;
    background-color: #E1EDE6;
    margin-right: 50px;
    transition: opacity 1s;
    overflow: hidden; /* обрезать текст, выходящий за границы блока */
}

.catalog_img{
    width: 310px;
    height: 422px;
    margin-top: 20px;
    margin-left:20px;
}
.catalog_author{
    font-size:18px;
    color:#86928B;
    margin-left:20px;
    margin-top: 10px;
}
.catalog_bookname{
    margin-left:20px;
    font-size:30px;
    margin-top: 10px;
    color:#2C2D35;
    overflow: hidden; /* обрезать текст, выходящий за границы блока */
    text-overflow: ellipsis; /* отображать многоточие для обрезанного текста */
    white-space: nowrap; /* предотвратить перенос текста на новую строку */
}

.book_year{
    margin-left:20px;
    font-size:18px;
    margin-top: 5px;
    color:#2C2D35;
}

.catalog_button{
    display: inline-block;
    color:#598D66;
    background-color: #E1EDE6 ;
    border-color: #86b090;
    width: 310px;
    height: 65px;
    cursor: pointer;
    margin-left:20px;
}


.dramas, .romans, .fantasy, .adventures, .science{
    margin-top:50px;
}


.hide{
    opacity: 1;
    animation-name: a1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes a1{
    to{
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}


