<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/layout.css"/>
    <link rel="stylesheet" href="/static/css/responsive/layout.css" type="text/css">
    <link rel="stylesheet" href="/static/css/main_page.css" type="text/css">
    <script src="/static/javascript/main_page.js" defer></script>
</head>
<body>
    <header id="header">
        <div class="header container-fluid d-flex ">
            <div class="container">
                <div class="row d-flex align-items-center ">
                    <nav class="d-flex align-items-center col-4">
                        <img src="/static/img/Star 1.svg" class="logo-img">
                        <a href="{% url 'main' %}" class="logo"><b>AboutBooooks</b></a>
                    </nav>
                    {% if user.is_authenticated %}
                        <nav class="d-flex align-items-center col-2 offset-5">
                            <a href="#">
                            <img src="/static/img/person-bounding-box.svg" class="profile-img">
                            </a>
                            <a href="{% url 'users:profile' %}" class="my-profile"><b>Мой профиль</b></a>
                        </nav>
                        <nav class="d-flex align-items-center col-1">
                            <a href="{% url 'users:logout' %}" class="my-profile"><b>Выйти</b></a>
                        </nav>
                    {% else %}
                        <nav class="d-flex align-items-center col-2 offset-6">
                            <a href="#">
                            <img src="/static/img/person-bounding-box.svg" class="profile-img">
                            </a>
                            <a href="{% url 'users:enter_or_registration' %}" class="my-profile"><b>Войти</b></a>
                        </nav>
                    {% endif %}

                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        <div class="container">

            <section class="page_upper row align-items-center">
                <img src="/static/img/224-1.png" alt="" class="entry_img col-6">
                <nav class="entry_text_button col-6">
                    <p class="entry_text_1"><b>Книги - это не просто слова на бумаге, а волшебные миры, которые раскрываются перед нами с каждой оборотной.</b></p>
                    <p class="entry_text_2">Добро пожаловать на <b><span style="color: #598D66;">AboutBooooks</span></b>, где каждая рецензия - это путеводитель в увлекательные истории, море эмоций и неизведанных приключений!</p>
                    <button class="entry_button" onclick="goToPage('{% url 'catalog' %}')">
                        Перейти к каталогу
                    </button>
                </nav>
            </section>

            <section class="page_middle row">
                <div>
                    <p style="font-size: 40px;color:#2C2D35;"><b>Стоит прочесть и оставить свою рецензию</b></p>
                </div>
                <div class="middle_page_catalog">
                    <div class="first_row col-12 row justify-content-between">

                        {% for book in six_books %}
                            <div class="frame col-4" style="margin-top:50px;">
                                <img class="catalog_img" src="{{ book.image_link }}">
                                <p class="catalog_author">{{ book.author }}</p>
                                <p class="catalog_bookname"><b>{{ book.title }}</b></p>
                                <p class="book_year">{{ book.publication_date }}</p>
                                <button class="catalog_button" onclick="goToPage('/book/{{ book.id }}/')">
                                    Перейти к книге
                                </button>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </section>
    </main>


    <footer class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <figure class="logo-figure col-4">
                    <a href="#header">
                        <img src="/static/img/Star 1.svg" alt="">
                        <a href="{% url 'main' %}" class="logo_footer"><b>AboutBooooks</b></a>
                    </a>
                    <figcaption class="telephone">+7-987-654-3210</figcaption>
                    <figcaption class="advertisement">Реклама на сайте</figcaption>
                </figure>
                <nav class="most-genre col-4" style="display: flex; flex-direction: column; align-items: center;">
                    <a href="#" class="genre-title">Наиболее популярные жанры книг из каталога:</a>
                    <a href="{% url 'catalog' %}" class="fantasy-footer d-block">Фентези</a>
                    <a href="{% url 'catalog' %}" class="romans-footer d-block">Романы</a>
                    <a href="{% url 'catalog' %}" class="dramas-footer d-block">Драмы</a>
                </nav>
                <nav class="social-network col-3 offset-1 d-flex justify-content-end align-items-center">
                    <a href="https://www.facebook.com">
                        <img src="/static/img/facebook.svg" alt="">
                    </a>
                    <a href="https://www.instagram.com">
                        <img src="/static/img/instagram.svg" alt="">
                    </a>
                    <a href="https://www.youtube.com/">
                        <img src="/static/img/youtube.svg" alt="">
                    </a>
                </nav>
            </div>
        </div>
    </footer>

</body>
</html>

